.todoFormLabel {
  color: #fff;
}

.todoFormInput {
  background-color: #474747;
  border: none;
  color: #fff;
  margin-top: 5px;
  outline: none;
  padding: 5px;
}

.todoFormInput::placeholder {
  color: #bebebe;
}

.todoFormSave {
  background-color: #238123;
  border: none;
  color: white;
  cursor: pointer;
  margin: 5px;
  padding: 5px 6px;
}